*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}

@font-face{

    src: url("font/SF-Pro-Display/SF-Pro-Display-Thin");
    font-style: normal;
    font-weight: lighter;
    font-family: 'SF-Pro-Display-Thin', 'Open Sans', 'Helvetica Neue', sans-serif'

}

body.home{
    font-family: 'SF-Pro-Display-Thin', Arial, Helvetica, sans-serif; 
    background-image: url(../assets/pattern.png);
    background-repeat: repeat;
    margin: 0 auto;
    padding: 0px;
}

/* screen#1 */

.outset{
    width: 25%;
    margin: 0 auto;
}

.outset__open--screens{
    width: 236px;
    display: flex;
    align-items: center;
    margin-top: 120px;

}

.outset__open--logo{
    width: 236px;
    display: flex;
    align-items: center;
    margin-top: 35px;
}



.outset__btn{

    margin: 50px 53px;
   
}

.outset__btn--create{

    border: 0;
    padding: 9px 10px;
    margin: 7px 28px;
    width: 175px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'SF-Pro-Display-Light', Arial, Helvetica, sans-serif;
    background-color: #ef7734;
    font-size: 14px;
    font-weight: lighter;
    color: #ffff;
    border-radius: 3px;
}

.outset__btn--send{

    border: 0;
    padding: 9px 10px;
    margin: 7px 28px;
    width: 175px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'SF-Pro-Display-Light', Arial, Helvetica, sans-serif;
    background-color: #d3ce3d;
    font-size: 14px;
    font-weight: lighter;
    color: #ffff;
    border-radius: 3px;
}

/* screen#2 */

.register{
   
    width: 15%;
    margin: 0 auto;
    
}

.register__reg--logo{
    width: 190px;
    display: flex;
    align-items: center;
    margin-top: 51px;

}

.register__box{
    position: relative;
    background-color: #f9f4c2;
    width: 440px;
    margin: 18px 0 50px -127px;
    height: 425px;
    border-radius: 4px;
    box-shadow: -1px 5px 1px rgba(0, 0, 0, .3);
}

.register__box--arrow{

    margin: 17px 13px;
    width: 10px;

}

.register__box--pic{

    position: relative;
    width: 52px;
    margin: 4px 44%;
}

.register__title{

    font-family: 'SF-Pro-Display-Thin', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #82735c;
    margin: 3px 171px 38px;
}

.register__form{

    display: inline-block;
    width: 90%;
    margin: 3px 18%;
}
.register__form-group{

    position: relative;
    width: 100%;
}

.register__input{
    width: 70%;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 9px;
    font-size: 13px;
    margin: 3px;

}

.register__button{

    border: 0;
    padding: 11px;
    margin: 30px 46px;
    width: 190px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'SF-Pro-Display-Light', Arial, Helvetica, sans-serif;
    background-color: #ef7734;
    font-size: 14px;
    font-weight: lighter;
    color: #ffff;
    border-radius: 3px;
}

/* screen#3 */

.login{
   
    width: 15%;
    margin: 0 auto;
    
}

.login__reg--logo{
    width: 190px;
    display: flex;
    align-items: center;
    margin-top: 51px;

}

.login__box{
    position: relative;
    background-color: #f9f4c2;
    width: 440px;
    margin: 18px 0 50px -127px;
    height: 425px;
    border-radius: 4px;
    box-shadow: -1px 5px 1px rgba(0, 0, 0, .3);
}

.login__box--arrow{

    margin: 17px 13px;
    width: 10px;

}

.login__title{

    font-family: 'SF-Pro-Display-Thin', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #82735c;
    margin: 23px 190px 38px;
}

.login__form{

    display: inline-block;
    width: 90%;
    margin: 3px 18%;
}
.login__form-group{

    position: relative;
    width: 100%;
}

.login__input{
    width: 70%;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 9px;
    font-size: 13px;
    margin: 3px;

}

.login__button{

    border: 0;
    padding: 11px;
    margin: 14px 46px;
    width: 190px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'SF-Pro-Display-Light', Arial, Helvetica, sans-serif;
    background-color: #d3ce3d;
    font-size: 14px;
    font-weight: lighter;
    color: #ffff;
    border-radius: 3px;
}

/* screen#4 */


/* body.wrapper{

    font-family: 'SF-Pro-Display-Thin', Arial, Helvetica, sans-serif; 
    margin: 0 auto;
    padding: 0px;
    
} */
.navbar {
    position: fixed;
    width: 100%;
    padding: 26px 0;
    background-color: #d18e60;
    top: 0;
    left: 0;
    height: 85px;
}

.navbar__nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar__logo{
    width: 126px;
    margin-left: 30%;
}
.navbar__user{
    width: 40px;
    margin-left: 18%;
}

.navbar__title{
    font-size: 13px;
    margin-right: 34%;
    color: #f0f1a5;
}

 .list__name{
    font-size: 20px;
    margin-left: 401px;
    margin-top: 0px;
    color: #574437;
    margin-bottom: -27px;
}

.list__btn{
    position: absolute;
    margin-left: 65%;
    display: flex;
    border: none;
    background-color: transparent;
    margin-top: 5px;
    cursor: pointer;
}


/* .list-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    width: 36%;
} */

/* .list-box__composer{

    display: flex;
    align-items: center;
} */


.list-box__list-one{
    position: relative;
    background-color: transparent;
    padding: 8px 6px;
    border: 1px solid #60b999;
    width: 49%;
    border-radius: 4px;
    margin-left: 162px;
    margin-bottom: -60px;
}

.list-box__list-two{
    position: relative;
    background-color: transparent;
    padding: 8px 6px 175px;
    border: 1px solid #60b999;
    width: 49%;
    border-radius: 4px;
    margin-left: 162px;
    margin-bottom: -60px;
}



.list-box__icon{
    margin: 10px 0px 0px 172px;
    width: 17px;
    position: absolute;
}

.list-box__order{
    margin-top: 9px;
    font-size: 15px;
    width: 4%;
    margin-left: 197px;
    position: absolute;
} 

.list-box__btn-one{
    margin: -5px -57px;
    
}

.list-box__btn-two{
    margin: -6px 58px;
    
}


/* .list-box__edit{
    margin-left: -16px;
    width: 17px;
}

.list-box__del{
    width: 11px;
    margin-left: 11px;
    margin-top: 3px;
} */

.list-box__fst{
    width: 77%;
    margin: 29px 230px;
    height: 200px;
}

.list-box__snd{
    width: 77%;
    margin-top: -197px;
    margin-left: 230px;
}

.list-box__task1{

    position: absolute;
    margin: 36px 0px 0px -483px;
    width: 32%;
    background: transparent;
    border: 1px solid #ef7734;
    border-radius: 4px;
    padding: 4px;
}
.list__btn2{
    position: absolute;
    margin-left: 610px;
    display: flex;
    border: none;
    background-color: transparent;
    margin-top: -99px;
    cursor: pointer;
}
.list-box__img{
    width: 16px;
}




/* screen#5 */

 .wrapper{
    margin-top: 118px;
} 

.note__name{
    font-size: 20px;
    margin-left: 414px;
    margin-bottom: 6px;
    color: #574437;
    margin-top: 106px;
}

.note-box{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.note-box__note{

    position: relative;
    background-color: white;
    padding: 8px 6px;
    border: 1px solid #ef7734;
    width: 51%;
    border-radius: 4px;
    margin-right: 355px;
    
}

.note-box__add{

    background-color: white;
    padding: 8px 6px;
    border: 1px solid #ef7734;
    width: 51%;
    border-radius: 4px;
    margin-right: 355px;
    margin-top: 8px;
}

.note-box__btn{

    display: flex;
    border: none;
    background-color: #ffffff;
    margin: -27px 450px;
    cursor: pointer;
    
}

.note-box__img{
    width: 19px;

}

.note-box__set{
    margin-top: 50px;
    margin-left: 7%;
}

.note-box__set--cancel{
    border: 0;
    padding: 9px 10px;
    margin: 6px 10px;
    width: 160px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'SF-Pro-Display-Light', Arial, Helvetica, sans-serif;
    background-color: #d3ce3d;
    font-size: 14px;
    font-weight: lighter;
    color: #574437;
    border-radius: 3px;
}

.note-box__set--create{

    border: 0;
    padding: 9px 10px;
    margin: 5px 2px;
    width: 160px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'SF-Pro-Display-Light', Arial, Helvetica, sans-serif;
    background-color: #ef7734;
    font-size: 14px;
    font-weight: lighter;
    color: #ffff;
    border-radius: 3px;

}

